@import "_variables";
@import "_mixins";
@import "_reset";

* {
  box-sizing: border-box;
}

body {
  background-color: #dde1d4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  max-width: 770px;
  min-width: 770px;
  width: 100%;
  height: 1088px;
  margin: 0 auto;
  padding: 14px;
  box-shadow: 10px 10px 5px grey;
}

header {
  background-color: black;
  color: white;
  width: 100%;
  height: 10%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 14px;
  .header__left {
    display: grid;
    grid-template-columns: 1fr 2fr;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 0 0 14px 14px;
      letter-spacing: 1.2px;
      font-weight: 400;
      li {
        margin-top: 5px;
      }
    }
  }
  .header__right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 14px 7px;
    letter-spacing: 1.2px;
    font-weight: 400;
    line-height: 19px;
  }
}
h1 {
  background-color: #f14214;
  font-size: 220px;
  font-weight: 600;
}
main {
  color: black;
  display: grid;
  width: 100%;
  height: 90%;
  gap: 14px;
  grid-template-rows: 54fr 46fr;
  .main__top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 14px;
    h1 {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    div {
      background-color: #f14214;
    }
  }
  .main__bottom {
    display: flex;
    flex-direction: column;
    background-color: #f14214;
    margin-bottom: 14px;
    justify-content: flex-start;

    .bottom__bottom {
      color: white;
      font-size: 40px;
      margin-left: 14px;
      margin-top: 20px;
      font-weight: 300;
    }
  }
}
